name: CI

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      checks: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Log in to Container registry
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and test (feature branches)
        if: github.ref != 'refs/heads/main'
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: '1'
        run: |
          ./gradlew build --build-cache --console=plain

      - name: Build, test and publish container image (main branch)
        if: github.ref == 'refs/heads/main'
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: '1'
        run: |
          ./gradlew build \
            -Dquarkus.package.jar.enabled=false -Dquarkus.native.enabled=true \
            -Dquarkus.container-image.build=true \
            -Dquarkus.container-image.push=true \
            --build-cache --console=plain
