name: CI

on:
  push:
    branches:
      - '**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      checks: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Build and test
        run: ./gradlew quarkusBuild --build-cache --console=plain --scan

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          include_passed: true
          detailed_summary: true

      - name: Log in to Container registry
        # if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push native image
        # if: github.ref == 'refs/heads/main'
        run: |
          ./gradlew quarkusBuild -Dquarkus.native.enabled=true \
            -Dquarkus.native.container-build=true \
            -Dquarkus.package.jar.enabled=false \
            -Dquarkus.container-image.push=true \
            -Dquarkus.container-image.registry=${{ env.REGISTRY }} \
            -Dquarkus.container-image.group=${{ github.repository_owner }} \
            -Dquarkus.container-image.name=aionify \
            -Dquarkus.container-image.tag=latest \
            -Dquarkus.container-image.additional-tags=${{ github.sha }} \
            -x test --build-cache --console=plain --scan
